<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-report" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_email}


		<div class="form-group srchPanelRow {$filterRow_class_email}" {$filterRow_attrs_email}>
			<label>{$label studentlist_Report email }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_email}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_email}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_email}</span>
						</div>
		{END searchCtrlBlock_email}
																{BEGIN searchCtrlBlock_usn}


		<div class="form-group srchPanelRow {$filterRow_class_usn}" {$filterRow_attrs_usn}>
			<label>{$label studentlist_Report usn }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_usn}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_usn}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_usn}</span>
						</div>
		{END searchCtrlBlock_usn}
																{BEGIN searchCtrlBlock_sem}


		<div class="form-group srchPanelRow {$filterRow_class_sem}" {$filterRow_attrs_sem}>
			<label>{$label studentlist_Report sem }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_sem}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_sem}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_sem}</span>
						</div>
		{END searchCtrlBlock_sem}
																{BEGIN searchCtrlBlock_mob}


		<div class="form-group srchPanelRow {$filterRow_class_mob}" {$filterRow_attrs_mob}>
			<label>{$label studentlist_Report mob }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_mob}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_mob}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_mob}</span>
						</div>
		{END searchCtrlBlock_mob}
																{BEGIN searchCtrlBlock_last_name}


		<div class="form-group srchPanelRow {$filterRow_class_last_name}" {$filterRow_attrs_last_name}>
			<label>{$label studentlist_Report last_name }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_last_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_last_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_last_name}</span>
						</div>
		{END searchCtrlBlock_last_name}
																{BEGIN searchCtrlBlock_id}


		<div class="form-group srchPanelRow {$filterRow_class_id}" {$filterRow_attrs_id}>
			<label>{$label studentlist_Report id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id}</span>
						</div>
		{END searchCtrlBlock_id}
																{BEGIN searchCtrlBlock_hostel_type}


		<div class="form-group srchPanelRow {$filterRow_class_hostel_type}" {$filterRow_attrs_hostel_type}>
			<label>{$label studentlist_Report hostel_type }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_hostel_type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_hostel_type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_hostel_type}</span>
						</div>
		{END searchCtrlBlock_hostel_type}
																{BEGIN searchCtrlBlock_hostel_name}


		<div class="form-group srchPanelRow {$filterRow_class_hostel_name}" {$filterRow_attrs_hostel_name}>
			<label>{$label studentlist_Report hostel_name }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_hostel_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_hostel_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_hostel_name}</span>
						</div>
		{END searchCtrlBlock_hostel_name}
																{BEGIN searchCtrlBlock_first_name}


		<div class="form-group srchPanelRow {$filterRow_class_first_name}" {$filterRow_attrs_first_name}>
			<label>{$label studentlist_Report first_name }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_first_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_first_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_first_name}</span>
						</div>
		{END searchCtrlBlock_first_name}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="studentlist_report_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export_report_excel" data-itemid="export_report_excel" {$item_export_report_excel} data-pageid="{$pageid}" data-small >
				<a  href="studentlist_report_print.php?all=1&amp;format=excel{$stateLink}" {$excellink_attrs}  title="" >
				
		Export to Excel		
		</a>
	</li>
{END export_link}
							{BEGIN export_link}
	<li data-itemtype="export_report_word" data-itemid="export_report_word" {$item_export_report_word} data-pageid="{$pageid}" data-small >
				<a  href="studentlist_report_print.php?all=1&amp;format=word{$stateLink}" {$wordlink_attrs}  title="" >
				
		Export to Word		
		</a>
	</li>
{END export_link}
							{BEGIN export_link}
	<li data-itemtype="export_report_pdf" data-itemid="export_report_pdf" {$item_export_report_pdf} data-pageid="{$pageid}" data-small >
				<a  data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Studentlist Report.pdf" 
data-pagetype="rprint" 
  title="" >
				
		Export to PDF		
		</a>
	</li>
{END export_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$grpsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="studentlist_report_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Print whole report							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="studentlist_report_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
	
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Groups per page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
	td {
		padding: 2px; 4px;
	}
			td.group_1{
			background-color: #90EE90;
		}
		td.nbgroup_1{
			background-color: #90EE90;
		}
		td.header_1 {
			background-color: #7ACA7A; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #ADD8E6;
		}
		td.nbgroup_2{
			background-color: #ADD8E6;
		}
		td.header_2 {
			background-color: #93B7C3; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #FFB6C1;
		}
		td.nbgroup_3{
			background-color: #FFB6C1;
		}
		td.header_3 {
			background-color: #D89AA4; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>

<div class="rnr-cw-grid rnr-s-2 asbuttons {$pageStyleName}" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" >
					
 <!-- add to settings ? -->


<table class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>
	{BEGIN grid_row}
			{BEGIN id_newgroup}
				<tr class="group-headers">
										<td class="blackshade {$fieldclass_id}">{$label studentlist_Report id }</td>
														<td class="blackshade {$fieldclass_sem}">{$label studentlist_Report sem }</td>
														<td class="blackshade {$fieldclass_usn}">{$label studentlist_Report usn }</td>
																																																	
																															<td class="blackshade {$fieldclass_first_name}">{$label studentlist_Report first_name }</td>
														<td class="blackshade {$fieldclass_last_name}">{$label studentlist_Report last_name }</td>
														<td class="blackshade {$fieldclass_email}">{$label studentlist_Report email }</td>
														<td class="blackshade {$fieldclass_mob}">{$label studentlist_Report mob }</td>
														<td class="blackshade {$fieldclass_hostel_type}">{$label studentlist_Report hostel_type }</td>
														<td class="blackshade {$fieldclass_hostel_name}">{$label studentlist_Report hostel_name }</td>
									</tr>
		
		<tr class="group-spliter-1"  >
															<td colspan="9" class="header_1">
				<font >
				{$xid_grval}
								<span data-itemtype="grid_field" data-field="id" data-itemid="grid_field2" data-pageid={$pageid} data-record-id="{$recId}">
{$id_grval}
</span>				</font>
			</td>
																												</tr>
		{END id_newgroup}
			{BEGIN sem_newgroup}
		
		<tr class="group-spliter-2"  >
										<td class=" group_1" >&nbsp;</td>
																			<td colspan="8" class="header_2">
				<font >
				{$xsem_grval}
								<span data-itemtype="grid_field" data-field="sem" data-itemid="grid_field3" data-pageid={$pageid} data-record-id="{$recId}">
{$sem_grval}
</span>				</font>
			</td>
																					</tr>
		{END sem_newgroup}
			{BEGIN usn_newgroup}
		
		<tr class="group-spliter-3" {$rowattrs} >
										<td class=" group_1" >&nbsp;</td>
														<td class=" group_2" >&nbsp;</td>
																			<td colspan="7" class="header_3">
				<font>
				{$xusn_grval}
								<span data-itemtype="grid_field" data-field="usn" data-itemid="grid_field4" data-pageid={$pageid} data-record-id="{$recId}">
{$usn_grval}
</span>				</font>
			</td>
														</tr>
		{END usn_newgroup}
	
		<!--  data-->
		{BEGIN row_data}
		<tr>
								<td class=" group_1" >&nbsp;</td>
											<td class="{$fieldclass_sem} group_2">
				{$xsem_value}
								<span data-itemtype="grid_field" data-field="sem" data-itemid="grid_field5" data-pageid={$pageid} data-record-id="{$recId}">
{$sem_value}
</span>			</td>
											<td class=" group_3" >&nbsp;</td>
																												<td class="data {$fieldclass_first_name}">
				{$xfirst_name_value}
								<span data-itemtype="grid_field" data-field="first_name" data-itemid="grid_field6" data-pageid={$pageid} data-record-id="{$recId}">
{$first_name_value}
</span>			</td>
											<td class="data {$fieldclass_last_name}">
				{$xlast_name_value}
								<span data-itemtype="grid_field" data-field="last_name" data-itemid="grid_field7" data-pageid={$pageid} data-record-id="{$recId}">
{$last_name_value}
</span>			</td>
											<td class="data {$fieldclass_email}">
				{$xemail_value}
								<span data-itemtype="grid_field" data-field="email" data-itemid="grid_field8" data-pageid={$pageid} data-record-id="{$recId}">
{$email_value}
</span>			</td>
											<td class="data {$fieldclass_mob}">
				{$xmob_value}
								<span data-itemtype="grid_field" data-field="mob" data-itemid="grid_field9" data-pageid={$pageid} data-record-id="{$recId}">
{$mob_value}
</span>			</td>
											<td class="data {$fieldclass_hostel_type}">
				{$xhostel_type_value}
								<span data-itemtype="grid_field" data-field="hostel_type" data-itemid="grid_field10" data-pageid={$pageid} data-record-id="{$recId}">
{$hostel_type_value}
</span>			</td>
											<td class="data {$fieldclass_hostel_name}">
				{$xhostel_name_value}
								<span data-itemtype="grid_field" data-field="hostel_name" data-itemid="grid_field11" data-pageid={$pageid} data-record-id="{$recId}">
{$hostel_name_value}
</span>			</td>
							</tr>
		{END row_data}
	
				{BEGIN usn_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							<td class="group_2" style="border-top: none;"></td>
							
																								<td  class="group_3" colspan=7 >
				Summary for&nbsp;{$label studentlist_Report usn }&nbsp;{$usn_grval}
					- <span class="summary-3" data-type="summary">{$groupusn_total_cnt}
					</span> records total			</td>
																																																			</tr>

	
	
	
	
	{END usn_endgroup}
						{BEGIN sem_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							
																	<td  class="group_2" colspan=8 >
				Summary for&nbsp;{$label studentlist_Report sem }&nbsp;{$sem_grval}
					- <span class="summary-2" data-type="summary">{$groupsem_total_cnt}
					</span> records total			</td>
																																																										</tr>

	
	
	
	
	{END sem_endgroup}
						{BEGIN id_endgroup}
		<tr class="summaryrow"  >
			
										<td  class="group_1" colspan=9 >
				Summary for&nbsp;{$label studentlist_Report id }&nbsp;{$id_grval}
					- <span class="summary-1" data-type="summary">{$groupid_total_cnt}
					</span> records total			</td>
																																																																	</tr>

	
	
	
	
	{END id_endgroup}
			
	{END grid_row}


	


    
    {BEGIN page_summary}
    <!-- page summary-->
    <tr class="summaryrow summary-page">
        <td class="pagesummary" colspan="9">Page summary            <span class="page-summary" data-type="summary">{$page_total_cnt}</span> - records total        </td>
    </tr>
	
	
	
	    {END page_summary}


	</tbody>
</table>


		</div>
	{END grid_block}						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
