<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-rprint" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Studentlist Report.pdf" 
data-pagetype="rprint" 
{$pdflink_attrs} >
							PDF View			</a>
</span>
{END pdflink_block}
		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel studentlist_Report rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
	td {
		padding: 2px; 4px;
	}
			td.group_1{
			background-color: #90EE90;
		}
		td.nbgroup_1{
			background-color: #90EE90;
		}
		td.header_1 {
			background-color: #7ACA7A; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #ADD8E6;
		}
		td.nbgroup_2{
			background-color: #ADD8E6;
		}
		td.header_2 {
			background-color: #93B7C3; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #FFB6C1;
		}
		td.nbgroup_3{
			background-color: #FFB6C1;
		}
		td.header_3 {
			background-color: #D89AA4; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
						
 <!-- add to settings ? -->


<table class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>
	{BEGIN grid_row}
			{BEGIN id_newgroup}
				<tr class="group-headers">
										<td class="blackshade {$fieldclass_id}">{$label studentlist_Report id }</td>
														<td class="blackshade {$fieldclass_sem}">{$label studentlist_Report sem }</td>
														<td class="blackshade {$fieldclass_usn}">{$label studentlist_Report usn }</td>
																																																	
																															<td class="blackshade {$fieldclass_first_name}">{$label studentlist_Report first_name }</td>
														<td class="blackshade {$fieldclass_last_name}">{$label studentlist_Report last_name }</td>
														<td class="blackshade {$fieldclass_email}">{$label studentlist_Report email }</td>
														<td class="blackshade {$fieldclass_mob}">{$label studentlist_Report mob }</td>
														<td class="blackshade {$fieldclass_hostel_type}">{$label studentlist_Report hostel_type }</td>
														<td class="blackshade {$fieldclass_hostel_name}">{$label studentlist_Report hostel_name }</td>
									</tr>
		
		<tr class="group-spliter-1"  >
															<td colspan="9" class="header_1">
				<font >
				{$xid_grval}
								<span data-itemtype="grid_field" data-field="id" data-itemid="grid_field2" data-pageid={$pageid} data-record-id="{$recId}">
{$id_grval}
</span>				</font>
			</td>
																												</tr>
		{END id_newgroup}
			{BEGIN sem_newgroup}
		
		<tr class="group-spliter-2"  >
										<td class=" group_1" >&nbsp;</td>
																			<td colspan="8" class="header_2">
				<font >
				{$xsem_grval}
								<span data-itemtype="grid_field" data-field="sem" data-itemid="grid_field3" data-pageid={$pageid} data-record-id="{$recId}">
{$sem_grval}
</span>				</font>
			</td>
																					</tr>
		{END sem_newgroup}
			{BEGIN usn_newgroup}
		
		<tr class="group-spliter-3" {$rowattrs} >
										<td class=" group_1" >&nbsp;</td>
														<td class=" group_2" >&nbsp;</td>
																			<td colspan="7" class="header_3">
				<font>
				{$xusn_grval}
								<span data-itemtype="grid_field" data-field="usn" data-itemid="grid_field4" data-pageid={$pageid} data-record-id="{$recId}">
{$usn_grval}
</span>				</font>
			</td>
														</tr>
		{END usn_newgroup}
	
		<!--  data-->
		{BEGIN row_data}
		<tr>
								<td class=" group_1" >&nbsp;</td>
											<td class="{$fieldclass_sem} group_2">
				{$xsem_value}
								<span data-itemtype="grid_field" data-field="sem" data-itemid="grid_field5" data-pageid={$pageid} data-record-id="{$recId}">
{$sem_value}
</span>			</td>
											<td class=" group_3" >&nbsp;</td>
																												<td class="data {$fieldclass_first_name}">
				{$xfirst_name_value}
								<span data-itemtype="grid_field" data-field="first_name" data-itemid="grid_field6" data-pageid={$pageid} data-record-id="{$recId}">
{$first_name_value}
</span>			</td>
											<td class="data {$fieldclass_last_name}">
				{$xlast_name_value}
								<span data-itemtype="grid_field" data-field="last_name" data-itemid="grid_field7" data-pageid={$pageid} data-record-id="{$recId}">
{$last_name_value}
</span>			</td>
											<td class="data {$fieldclass_email}">
				{$xemail_value}
								<span data-itemtype="grid_field" data-field="email" data-itemid="grid_field8" data-pageid={$pageid} data-record-id="{$recId}">
{$email_value}
</span>			</td>
											<td class="data {$fieldclass_mob}">
				{$xmob_value}
								<span data-itemtype="grid_field" data-field="mob" data-itemid="grid_field9" data-pageid={$pageid} data-record-id="{$recId}">
{$mob_value}
</span>			</td>
											<td class="data {$fieldclass_hostel_type}">
				{$xhostel_type_value}
								<span data-itemtype="grid_field" data-field="hostel_type" data-itemid="grid_field10" data-pageid={$pageid} data-record-id="{$recId}">
{$hostel_type_value}
</span>			</td>
											<td class="data {$fieldclass_hostel_name}">
				{$xhostel_name_value}
								<span data-itemtype="grid_field" data-field="hostel_name" data-itemid="grid_field11" data-pageid={$pageid} data-record-id="{$recId}">
{$hostel_name_value}
</span>			</td>
							</tr>
		{END row_data}
	
				{BEGIN usn_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							<td class="group_2" style="border-top: none;"></td>
							
																								<td  class="group_3" colspan=7 >
				Summary for&nbsp;{$label studentlist_Report usn }&nbsp;{$usn_grval}
					- <span class="summary-3" data-type="summary">{$groupusn_total_cnt}
					</span> records total			</td>
																																																			</tr>

	
	
	
	
	{END usn_endgroup}
						{BEGIN sem_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							
																	<td  class="group_2" colspan=8 >
				Summary for&nbsp;{$label studentlist_Report sem }&nbsp;{$sem_grval}
					- <span class="summary-2" data-type="summary">{$groupsem_total_cnt}
					</span> records total			</td>
																																																										</tr>

	
	
	
	
	{END sem_endgroup}
						{BEGIN id_endgroup}
		<tr class="summaryrow"  >
			
										<td  class="group_1" colspan=9 >
				Summary for&nbsp;{$label studentlist_Report id }&nbsp;{$id_grval}
					- <span class="summary-1" data-type="summary">{$groupid_total_cnt}
					</span> records total			</td>
																																																																	</tr>

	
	
	
	
	{END id_endgroup}
			
	{END grid_row}


	


    
    {BEGIN page_summary}
    <!-- page summary-->
    <tr class="summaryrow summary-page">
        <td class="pagesummary" colspan="9">Page summary            <span class="page-summary" data-type="summary">{$page_total_cnt}</span> - records total        </td>
    </tr>
	
	
	
	    {END page_summary}


	</tbody>
</table>


			</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
