<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel studentlist edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN first_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_first_name}  r-vertical-field" 
	data-fieldname="first_name" 
	data-signal-error-for="first_name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="first_name" >


	<label class="r-edit-label control-label" for="{$labelfor_first_name}">
		{BEGIN first_name_label}{$label studentlist first_name }{END first_name_label}
	</label>
	<div class="r-edit-field">
		{$first_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="first_name">
		<div class="text-muted" >
		{$tooltip studentlist first_name }		</div>
	</div>
</div>


{END first_name_fieldblock}
											
{BEGIN last_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_last_name}  r-vertical-field" 
	data-fieldname="last_name" 
	data-signal-error-for="last_name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="last_name" >


	<label class="r-edit-label control-label" for="{$labelfor_last_name}">
		{BEGIN last_name_label}{$label studentlist last_name }{END last_name_label}
	</label>
	<div class="r-edit-field">
		{$last_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="last_name">
		<div class="text-muted" >
		{$tooltip studentlist last_name }		</div>
	</div>
</div>


{END last_name_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-fieldname="email" 
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="email" >


	<label class="r-edit-label control-label" for="{$labelfor_email}">
		{BEGIN email_label}{$label studentlist email }{END email_label}
	</label>
	<div class="r-edit-field">
		{$email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="email">
		<div class="text-muted" >
		{$tooltip studentlist email }		</div>
	</div>
</div>


{END email_fieldblock}
											
{BEGIN mob_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mob}  r-vertical-field" 
	data-fieldname="mob" 
	data-signal-error-for="mob{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="mob" >


	<label class="r-edit-label control-label" for="{$labelfor_mob}">
		{BEGIN mob_label}{$label studentlist mob }{END mob_label}
	</label>
	<div class="r-edit-field">
		{$mob_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="mob">
		<div class="text-muted" >
		{$tooltip studentlist mob }		</div>
	</div>
</div>


{END mob_fieldblock}
											
{BEGIN sem_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sem}  r-vertical-field" 
	data-fieldname="sem" 
	data-signal-error-for="sem{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="sem" >


	<label class="r-edit-label control-label" for="{$labelfor_sem}">
		{BEGIN sem_label}{$label studentlist sem }{END sem_label}
	</label>
	<div class="r-edit-field">
		{$sem_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sem">
		<div class="text-muted" >
		{$tooltip studentlist sem }		</div>
	</div>
</div>


{END sem_fieldblock}
											
{BEGIN usn_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_usn}  r-vertical-field" 
	data-fieldname="usn" 
	data-signal-error-for="usn{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="usn" >


	<label class="r-edit-label control-label" for="{$labelfor_usn}">
		{BEGIN usn_label}{$label studentlist usn }{END usn_label}
	</label>
	<div class="r-edit-field">
		{$usn_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="usn">
		<div class="text-muted" >
		{$tooltip studentlist usn }		</div>
	</div>
</div>


{END usn_fieldblock}
											
{BEGIN hostel_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hostel_type}  r-vertical-field" 
	data-fieldname="hostel_type" 
	data-signal-error-for="hostel_type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="hostel_type" >


	<label class="r-edit-label control-label" for="{$labelfor_hostel_type}">
		{BEGIN hostel_type_label}{$label studentlist hostel_type }{END hostel_type_label}
	</label>
	<div class="r-edit-field">
		{$hostel_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hostel_type">
		<div class="text-muted" >
		{$tooltip studentlist hostel_type }		</div>
	</div>
</div>


{END hostel_type_fieldblock}
											
{BEGIN hostel_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hostel_name}  r-vertical-field" 
	data-fieldname="hostel name" 
	data-signal-error-for="hostel_name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="hostel_name" >


	<label class="r-edit-label control-label" for="{$labelfor_hostel_name}">
		{BEGIN hostel_name_label}{$label studentlist hostel_name }{END hostel_name_label}
	</label>
	<div class="r-edit-field">
		{$hostel_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hostel_name">
		<div class="text-muted" >
		{$tooltip studentlist hostel_name }		</div>
	</div>
</div>


{END hostel_name_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_outpass}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption outpass }				
							<span>
					{$detailslButtons_outpass}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_outpass}
		</div>
	</div>
</div>
{END details_outpass}
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reset		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="studentlist_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		View		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
